apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: demo-nginx
  name: demo-nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-nginx
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: demo-nginx
    spec:
      containers:
      - image: 793888778904.dkr.ecr.ap-northeast-2.amazonaws.com/eks-project-repo:latest
        name: nginx
        ports:
        - containerPort: 80
      imagePullSecrets:
      - name: ecr-secret
