namePrefix: prod-
resources:
- deployment.yaml
- service.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: 793888778904.dkr.ecr.ap-northeast-2.amazonaws.com/eks-project-repo
  newTag: "34"
